@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Reenie+Beanie&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(26, 33, 48);
  background: radial-gradient(
    circle at top,
    rgb(14, 24, 45) 0%,
    rgb(7, 12, 24) 100%
  );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1.5rem;
}

.background {
  place-content: center flex-start;
  align-items: center;
  z-index: -1;
  display: flex;
  flex-flow: column;
  gap: 0px;
  overflow: visible;
  padding: 0px;
  position: relative;
}

.background_layer {
  height: min-content;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  background-size: 109px;
  background-repeat: repeat;
  background-image: url("/bg.bmp");
  border-radius: 0px;
  z-index: -1;
  opacity: 0.06;
}
*,
._text-default {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  font-style: normal;
}

._text-handwritten {
  font-family: "Reenie Beanie", "Comic Sans MS", cursive !important;
  font-weight: 400;
  font-style: normal;
}

._text-gradient {
  -webkit-mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.55) 60%,
    rgba(0, 0, 0, 0)
  );
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(212, 245, 159) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #444444 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #6c6c6c;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
